@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    font-size: 14px; /* 14px = 1rem */
  }
  @media screen and (min-width: 1366px) {
    html {
      font-size: 16px; /* 16px = 1rem */
    }
  }

  @media screen and (min-width: 1920px) {
    html {
      font-size: 18px; /* 18px = 1rem */
    }
  }

  body {
    overflow-x: hidden !important;
  }
  h1 {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
  }
  h2 {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 120%;
  }
  h3 {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 120%;
  }
  h4 {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 120%;
  }
  p {
    font-family: var(--font-mukta);
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }

  .hero {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 120%;
  }
  .p-details {
    font-family: var(--font-mukta);
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
  }
  .productHeadline {
    font-size: 1.375rem !important;
  }
  .p-footer {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
  }
  .phoneLink {
    font-family: var(--font-mukta);
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 27px;
  }
  .heroHeadline {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400 !important;
    font-size: 3.75rem;
    line-height: 120%;
  }
  .primaryRadialBg {
    background: radial-gradient(
          20.52% 48.75% at 21.11% 50%,
          rgba(31, 24, 91, 0.86) 0%,
          rgba(14, 10, 48, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #0e0a30;
  }
  .secondaryRadialBg {
    background: radial-gradient(
        74.46% 294.38% at 55.17% 49.79%,
        #1f185b 0%,
        rgba(14, 10, 48, 0) 100%
      )
      #0e0a30;
  }
  .thirdRadialBg {
    background: radial-gradient(
        45.28% 309.17% at 72.33% 66.2%,
        #292073 0%,
        rgba(14, 10, 48, 0) 100%
      ),
      #0e0a30;
  }

  .nav {
    font-family: var(--font-maven);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
  }
}
.mapboxgl-ctrl-zoom-in {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E") !important;
}

.mapboxgl-ctrl-zoom-out {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23333333;' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E") !important;
}
.mapboxgl-ctrl-compass {
  display: none !important;
}
.ql-container {
  border: none !important;
}

.ql-editor {
  font-family: var(--font-mukta);
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 27px;
}

.richText > * {
  padding-bottom: 15px !important;
  list-style: outside;
  font-family: var(--font-mukta);
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 27px;
}
.richText > ul > li {
  padding-bottom: 15px !important;
  margin-left: 18px;
}
.richText > * {
  padding-bottom: 15px !important;
}
.uploadButton {
  /* border: none !important; */
  font-family: var(--font-mukta) !important;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%;
}
input[type="radio"] {
  accent-color: #459145 !important;
}

#linkedin:hover path {
  fill: #00ac4d;
}
