@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 120%;
	}
	h2 {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 120%;
	}
	h3 {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 120%;
	}
	h4 {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 120%;
	}

	p {
		font-family: var(--font-mukta);
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 27px;
	}
	.hero {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
	}
	.p-details {
		font-family: var(--font-mukta);
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
	}
	.p-footer {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
	}

	.heroHeadline {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400 !important;
		font-size: 60px;
		line-height: 120%;
	}
	.p-details {
		font-family: var(--font-mukta);
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
	}
	.p-footer {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
	}
	.primaryRadialBg {
		background: radial-gradient(
					20.52% 48.75% at 21.11% 50%,
					rgba(31, 24, 91, 0.86) 0%,
					rgba(14, 10, 48, 0) 100%
				)
				/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
			#0e0a30;
	}

	.nav {
		font-family: var(--font-maven);
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
	}
	.productCard {
		height: max-content !important;
	}
}
